/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
    fondo: #E8E6E0,
    azul: #B6E4EB,
    turquesa: #D9F1F2,
    rosa: #FBDEE2,
    coral: #FEAFAB,
    naranja: #FBD5B0,
    amarillo: #FCF1D7
)